.contenitore-logo {
    width: 100%;
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color: rgba(0, 169, 244,1);
}



#logo{
    width: 300px;
    height: 250px;

}
h1{
    margin-bottom:0;
    font-size: 60px;
}

#scritta-grigia{
    color: rgb(70, 66, 66);
    font-size: small;
}

#scritta-azzurra{
    color: lightskyblue;
}

#scritta-piccola{
    color: rgb(70, 66, 66);
    font-size:10px;
}

#descrizione-foto{
    font-size:10px;
}

#evidenziato{
    background-color: yellow;
}
table{
    border-collapse: collapse;
   
}
thead{
    background-color: rgb(6, 156, 250);
}
 th{
     color: white;
     width: 1000px;
 }

 #tr-special{
     background-color: lightskyblue;
 }

 #testo-footer{
     color: rgb(121, 116, 116);
     font-weight: bold;
    
 }

 .img1{
     width: 200px;
     height: 200px;
     background-image: url(../img/monitor.jpg);
     
 }

 .img2{
     width:200px ;
     height: 200px;
     background-image: url(../img/graph.jpg);
     
 }
 h4{
     color: white;
     padding: 10px;
 }

 #numero-speciale{
     color:grey;
 }

 