
body{
    background-color:#ffe7e745;
    background-image: url(../img/pattern.png);
    text-align: center;

}
.contenitore-logo {
    width: 100%;
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color:#f9434300;
    text-align: center;
}
#logo{
    width: 500px;
    height: 200px;

}
#scritta-grigia{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
}
#scritta-azzurra{
    color: rgb(1, 158, 255);
    font-size: 25px;
    text-align: left;
}
#scritta-piccola{
    color: rgb(10, 10, 10);
    font-size:20px;
    text-align: left;
}

tr{
    background-color: rgb(255, 126, 6);
}
#tr-special{
    background-color:rgb(251, 255, 7);
}
#testo-footer{
    color: rgb(37, 37, 37);
    font-size: 30px;
    font-weight: bold;
    text-align: left;
   
}
